<div id="demo-home">
	<div class="jumbotron text-center">
		<h1>AngularJS & Gulp Boilerplate</h1>
		<p>This is the demo <span class="text-danger">Homepage</span>.</p>
		<p>Get the source code from, <span class="text-primary"><a href="https://github.com/tanmoythander/angular-gulp-boilerplate" target="_blank">github</a></span></p>

		<a ui-sref="demo-about" class="btn btn-lg btn-warning">About</a>
		<br>
		<br>

		<a ui-sref="demo-home.libs" class="btn btn-primary">Libraries</a>
		<a ui-sref="demo-home.usage" class="btn btn-danger">Usage</a>
	    
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div ui-view></div>
			</div>
			<div class="col-sm-7">
				<boilerplate-carousel></boilerplate-carousel>
			</div>
		</div>
	</div>
</div>

<boilerplate-footer></boilerplate-footer>
