<div id="owl-carousel-1" class="owl-carousel owl-theme">
	<div class="item">
		<img src="images/angularJS.png" alt="AngularJS">
	</div>
	<div class="item">
		<img src="images/gulpjs.png" alt="GulpJS">
	</div>
	<div class="item">
		<img src="images/nodejs.jpg" alt="NodeJS">
	</div>
	<div class="item">
		<img src="images/font-awesome.jpg" alt="FontAwesome">
	</div>
	<div class="item">
		<img height="380px" src="images/bootstrap-wallpaper.png" alt="Bootstrap">
	</div>
	<div class="item">
		<img src="images/lodash.jpg" alt="Lodash">
	</div>
	<div class="item">
		<img src="images/jquery.png" alt="jQuery">
	</div>
</div>
<script type="text/javascript">
	$('#owl-carousel-1').owlCarousel({
		loop: true,
		margin: 5,
		nav: true,
		items: 1,
		autoplay: true
	});
</script>