<div id="footer-red">
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-2">
				<ul>
					<li>Demo Link 1</li>
					<li>Demo Link 2</li>
					<li>Demo Link 3</li>
				</ul>
			</div>
			<div class="col-sm-2">
				<ul>
					<li>Knowledge base</li>
				</ul>
			</div>
			<div class="col-sm-2">
				<ul>
					<li>Software Library</li>
				</ul>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
</div>
<div id="footer-black">
	<div class="container-fluid text-center">
		<p>Copyright 2018 &copy; Angular-Gulp Boilerplate</p>
	</div>
</div>