#demo-home {
	background: white;
}
#demo-home .container {
	padding: 40px 15px;
	min-height: 500px;
}
#demo-about {
	background: white;
}
#demo-about .container {
	padding: 40px 15px;
	min-height: 500px;
}
